.box{
     margin: 20px auto ;
     border-top: solid 1px var(--Grey) ;
     padding: 5px 0 0;
}

.btnBox {
   width: 200px;
}

.box p {
     font-size: 1.2rem;
     margin: 20px 0;
     letter-spacing: .75px;
}

.box span{
     font-weight: 600;
     
}