.nav {
       height: 50px;
       font-size: small;
       z-index: 5;
       position: fixed;
       width: 100%;
       padding: 0 10%;
       top: 0;
       display :flex;
       justify-content:  space-between ;
       align-items:  center ;
       background-color: white;
}

.svg { display: none;}

.control {
     width : 70%;
     display :flex;
     justify-content:  flex-end ;    
}

.currencie {
     width: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
}  
.currencieTitle {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 70%;
     margin: 0 35px;
     font-weight: 800;
     font-size: 1.05rem ;
}

.currencieTitle h5 {
     margin: 0 15px 0 0;
     font-size: 15px ;
     font-weight: 500;
     font-size: 1.1rem ;
     cursor:default;
}
.currencieTitle i {
     cursor: pointer;
}


.ul {
     width: 70%;
     list-style-type: none;
     display :flex;
     justify-content:  flex-start ;
     align-items:  center ;
}

.route {
     text-transform: uppercase;
     color: black;
     padding: 3px  ;
     margin: 0 2px;  
}

.active { border-bottom: solid var(--Green) 3px; 
           color: var(--Green);
           padding: 3px  ;
           margin: 0 2px;
           text-transform: uppercase;
}

.cart {   width: 35px;
          height: 35px;
          background-size: 75% 75%;
          background-repeat: no-repeat;
          background-position:bottom left;
          margin: 7px 0;
          cursor: pointer;
          display :flex;
          justify-content:  flex-end ;
          align-items:  flex-start ;
          background-image: url("../../../public/assits/cartIconBlack.png");
}

.cartCount {
     width: 50%;
     height: 50%;
     border-radius: 50%;
     background-color: black;
     color: white;
     text-align: center;
     font-size: .5rem;
     display: flex;
     align-items: center ;
     justify-content: center;

}
.cartCount p {
     line-height: 0;
}

@media (min-width : 768px) {
     .route {
          padding: 15px 8px ;
          margin: 0 10px;
          font-size: .9rem;   
     }
     
     .active {
                padding: 15px 8px ;
                margin: 0 10px;
                font-size: .9rem;
     }
     .svg {
          display: block;
     }
     
     .control {
          width : 20%
     }
     
     .ul {
          width: 20%;
          list-style-type: none;
     }
     
}